imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    #translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

snc_redis:
    clients:
        cache:
            type: phpredis
            alias: cache
            dsn: redis://analytics.xgsurf.ng.0001.use1.cache.amazonaws.com/1
            options:
                connection_persistent: true

cygnus_olytics:
    host: olytics.cygnus.com
    accounts:
        acbm:
            products: [fcp, ooh, sdce, fl, dmn, gip]
        ascend:
            products: [hearthub]
        as3:
            products: [clarity, baseplatform]
        bizbash:
            products: [bzb]
        ebm:
            products: [bow, btr, cim, de, diq, dte, ee, fcn, frn, gxc, hci, hpn, ias, ils, leds, lfw, lw, mae, mlo, msw, os, pcm, pia, pmm, rdh, stw, su, taxpracticeadvisor, up, vsd, wto, ww, americanmachinist, asumag, bulktransporter, contractingbusiness, contractormag, dte, ecmweb, ehstoday, electricalmarketing, electronicdesign, ewweb, fleetowner, forgingmagazine, foundrymag, hpac, hydraulicspneumatics, industryweek, machinedesign, mhlnews, mwrf, newequipment, powerelectronics, refrigeratedtransporter, rermag, sourcetoday, tdworld, trailerbodybuilders, trucker, truckfleetmro]
        cygnus:
            products: [vmw, cavc, cpa, emsr, fhc, frpc, ll, mass, mprc, ofcr, siw, vspc, 'siw-brevity']
        indm:
            products: [ien, ddt, cen]
        pmmi:
            products: [all, mundo]
        scomm:
            products: [nfn, nfl, mni, nvp, ihe, kcp, cltampa, clatl, nvs, wcp, cb]
        test:
            products: [test]

cygnus_api_suite:
    cache_client: snc_redis.cache

doctrine_mongodb:
    default_connection: default
    default_database: test
    default_document_manager: default
    connections:
        default:
            server: mongodb://localhost:27017
            options: {}
        db9:
            server: mongodb://db9.cygnuspub.com:27017
            options: {}
        merrick:
            server: 'mongodb://10.0.2.10:27017,10.0.2.96:27017,10.0.2.97:27017'
            options:
                readPreference: nearest
                replicaSet: merrick
                journal: false
                w: 1
    document_managers:
        default:
            retry_connect: 2
            retry_query: 2
            connection: default
            auto_mapping: true
        db9:
            connection: db9
            auto_mapping: false
        merrick:
            retry_connect: 2
            retry_query: 2
            connection: merrick
            auto_mapping: false

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# Monolog Configuration
monolog:
    handlers:
        main:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: warning
        console:
            type:  console
