imports:
    - { resource: config.yml }

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

snc_redis:
    clients:
        cache:
            type: phpredis
            alias: cache
            dsn: redis://devcache01.cygnuspub.com/2

cygnus_olytics:
    connection:
        server: mongodb://devdb01.cygnuspub.com:27017
        options: {}
    host: dev.olytics.cygnus.com

assetic:
    use_controller: true

#swiftmailer:
#    delivery_address: me@example.com
